// Your custom styles

/* Required height of parents of the Full Page Intro and Intro itself */
html,
body,
.view {
  height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

  @import "core/bootstrap/rfs";

.title {
  @include responsive-font-size(4rem);
  margin: 0 0 .5em;
}
.article {
  background: white;
  box-shadow: 0 0 10px rgba(black, .25);
  padding: 20px 25px;

  &:not(:first-of-type) {
    margin-top: 20px;
  }

  &__title {
    @include responsive-font-size(27px);
    margin: 0;
  }

  &__date {
    padding-top: .25em;
    @include responsive-font-size(12);
    opacity: .75;
    font-style: italic;
  }

  &__content {
    padding-top: .75em;
    @include responsive-font-size(16);
    margin: 0;
    line-height: 1.4;
  }
}
